{% extends "base.html" %}

{% block main_content %}

<h1>About Us</h1>
<p>
    Welcome to Sisters_ink – a haven of creativity and bespoke artistry born out of passion three months ago. At
    Sisters_ink, we believe in the power of art to transform and personalize every aspect of your life. From the
    intricate designs of prints and postcards to the unique expressions on clothing, our creations are more than just
    items; they're extensions of your individuality and cherished memories.

    Our journey began with a simple mission: to craft unforgettable gifts that resonate on a personal level. Whether
    it's a street corner that holds your heart, a house that whispers stories of yesteryears, or a landscape that takes
    your breath away, we bring these memories to life through our art. Our custom-designed postcards add a personal
    touch to every occasion, turning moments into lasting memories.

    But our ambition doesn't stop at paper and fabric. We're on a quest to infuse your life with art in ways you've
    never imagined. From clothing that speaks your language to custom pieces that tell your story, we're here to create
    something uniquely yours.

    At Sisters_ink, we're just getting started. With a world of ideas waiting to be explored, we invite you to join us
    on this journey of discovery and creation. Let's make the ordinary extraordinary, together.
</p>
<h2>Owners</h2>
<img id="owners" src="static/img/owners.jpg" alt="owners">

<h2>Social Medias</h2>
<a class="paint" href="https://www.instagram.com/sisters_ink_ie/"><img id="owners" src="static/img/Instagram_icon.png" alt="instagram"></a>
<a class="paint" href="https://www.facebook.com/people/Sisters-ink/61556361722077/?sfnsn=wa"><img id="owners" src="static/img/facebook.png" alt="facebook"></a>


{% endblock %}